{
    "addressList": [
        {
            "city": "阿拉善盟",
            "cityId": 152900,
            "citypy": "A",
            "type": 2
        },
        {
            "city": "鞍山市",
            "cityId": 210300,
            "citypy": "A",
            "type": 2
        },
        {
            "city": "安庆市",
            "cityId": 340800,
            "citypy": "A",
            "type": 2
        },
        {
            "city": "安阳市",
            "cityId": 410500,
            "citypy": "A",
            "type": 2
        },
        {
            "city": "阿坝州",
            "cityId": 513200,
            "citypy": "A",
            "type": 2
        },
        {
            "city": "安顺市",
            "cityId": 520400,
            "citypy": "A",
            "type": 2
        },
        {
            "city": "阿里地区",
            "cityId": 542500,
            "citypy": "A",
            "type": 2
        },
        {
            "city": "安康市",
            "cityId": 610900,
            "citypy": "A",
            "type": 2
        },
        {
            "city": "阿克苏地区",
            "cityId": 652900,
            "citypy": "A",
            "type": 2
        },
        {
            "city": "阿勒泰地区",
            "cityId": 654300,
            "citypy": "A",
            "type": 2
        },
        {
            "city": "阿拉尔市",
            "cityId": 659002,
            "citypy": "A",
            "type": 2
        },
        {
            "city": "北京市",
            "cityId": 110000,
            "citypy": "B",
            "type": 1
        },
        {
            "city": "保定市",
            "cityId": 130600,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "包头市",
            "cityId": 150200,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "巴彦淖尔市",
            "cityId": 150800,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "本溪市",
            "cityId": 210500,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "白山市",
            "cityId": 220600,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "白城市",
            "cityId": 220800,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "蚌埠市",
            "cityId": 340300,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "亳州市",
            "cityId": 341600,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "滨州市",
            "cityId": 371600,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "北海市",
            "cityId": 450500,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "百色市",
            "cityId": 451000,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "白沙县",
            "cityId": 469025,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "保亭县",
            "cityId": 469029,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "巴中市",
            "cityId": 511900,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "毕节地区",
            "cityId": 522400,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "保山市",
            "cityId": 530500,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "宝鸡市",
            "cityId": 610300,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "白银市",
            "cityId": 620400,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "博尔塔拉州",
            "cityId": 652700,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "巴音郭楞州",
            "cityId": 652800,
            "citypy": "B",
            "type": 2
        },
        {
            "city": "承德市",
            "cityId": 130800,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "沧州市",
            "cityId": 130900,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "长治市",
            "cityId": 140400,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "赤峰市",
            "cityId": 150400,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "朝阳市",
            "cityId": 211300,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "长春市",
            "cityId": 220100,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "常州市",
            "cityId": 320400,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "滁州市",
            "cityId": 341100,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "巢湖市",
            "cityId": 341400,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "池州市",
            "cityId": 341700,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "长沙市",
            "cityId": 430100,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "常德市",
            "cityId": 430700,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "郴州市",
            "cityId": 431000,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "潮州市",
            "cityId": 445100,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "崇左市",
            "cityId": 451400,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "澄迈县",
            "cityId": 469023,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "昌江县",
            "cityId": 469026,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "重庆市",
            "cityId": 500000,
            "citypy": "C",
            "type": 1
        },
        {
            "city": "成都市",
            "cityId": 510100,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "楚雄州",
            "cityId": 532300,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "昌都地区",
            "cityId": 542100,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "昌吉州",
            "cityId": 652300,
            "citypy": "C",
            "type": 2
        },
        {
            "city": "大同市",
            "cityId": 140200,
            "citypy": "D",
            "type": 2
        },
        {
            "city": "大连市",
            "cityId": 210200,
            "citypy": "D",
            "type": 2
        },
        {
            "city": "丹东市",
            "cityId": 210600,
            "citypy": "D",
            "type": 2
        },
        {
            "city": "大庆市",
            "cityId": 230600,
            "citypy": "D",
            "type": 2
        },
        {
            "city": "大兴安岭地区",
            "cityId": 232700,
            "citypy": "D",
            "type": 2
        },
        {
            "city": "东营市",
            "cityId": 370500,
            "citypy": "D",
            "type": 2
        },
        {
            "city": "德州市",
            "cityId": 371400,
            "citypy": "D",
            "type": 2
        },
        {
            "city": "东莞市",
            "cityId": 441900,
            "citypy": "D",
            "type": 2
        },
        {
            "city": "儋州市",
            "cityId": 469003,
            "citypy": "D",
            "type": 2
        },
        {
            "city": "东方市",
            "cityId": 469007,
            "citypy": "D",
            "type": 2
        },
        {
            "city": "定安县",
            "cityId": 469021,
            "citypy": "D",
            "type": 2
        },
        {
            "city": "德阳市",
            "cityId": 510600,
            "citypy": "D",
            "type": 2
        },
        {
            "city": "达州市",
            "cityId": 511700,
            "citypy": "D",
            "type": 2
        },
        {
            "city": "大理市",
            "cityId": 532900,
            "citypy": "D",
            "type": 2
        },
        {
            "city": "德宏州",
            "cityId": 533100,
            "citypy": "D",
            "type": 2
        },
        {
            "city": "迪庆州",
            "cityId": 533400,
            "citypy": "D",
            "type": 2
        },
        {
            "city": "定西市",
            "cityId": 621100,
            "citypy": "D",
            "type": 2
        },
        {
            "city": "鄂尔多斯市",
            "cityId": 150600,
            "citypy": "E",
            "type": 2
        },
        {
            "city": "鄂州市",
            "cityId": 420700,
            "citypy": "E",
            "type": 2
        },
        {
            "city": "恩施州",
            "cityId": 422800,
            "citypy": "E",
            "type": 2
        },
        {
            "city": "抚顺市",
            "cityId": 210400,
            "citypy": "F",
            "type": 2
        },
        {
            "city": "阜新市",
            "cityId": 210900,
            "citypy": "F",
            "type": 2
        },
        {
            "city": "阜阳市",
            "cityId": 341200,
            "citypy": "F",
            "type": 2
        },
        {
            "city": "福州市",
            "cityId": 350100,
            "citypy": "F",
            "type": 2
        },
        {
            "city": "抚州市",
            "cityId": 361000,
            "citypy": "F",
            "type": 2
        },
        {
            "city": "佛山市",
            "cityId": 440600,
            "citypy": "F",
            "type": 2
        },
        {
            "city": "防城港市",
            "cityId": 450600,
            "citypy": "F",
            "type": 2
        },
        {
            "city": "赣州市",
            "cityId": 360700,
            "citypy": "G",
            "type": 2
        },
        {
            "city": "广州市",
            "cityId": 440100,
            "citypy": "G",
            "type": 2
        },
        {
            "city": "桂林市",
            "cityId": 450300,
            "citypy": "G",
            "type": 2
        },
        {
            "city": "贵港市",
            "cityId": 450800,
            "citypy": "G",
            "type": 2
        },
        {
            "city": "广元市",
            "cityId": 510800,
            "citypy": "G",
            "type": 2
        },
        {
            "city": "广安市",
            "cityId": 511600,
            "citypy": "G",
            "type": 2
        },
        {
            "city": "甘孜州",
            "cityId": 513300,
            "citypy": "G",
            "type": 2
        },
        {
            "city": "贵阳市",
            "cityId": 520100,
            "citypy": "G",
            "type": 2
        },
        {
            "city": "甘南州",
            "cityId": 623000,
            "citypy": "G",
            "type": 2
        },
        {
            "city": "果洛州",
            "cityId": 632600,
            "citypy": "G",
            "type": 2
        },
        {
            "city": "固原市",
            "cityId": 640400,
            "citypy": "G",
            "type": 2
        },
        {
            "city": "邯郸市",
            "cityId": 130400,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "衡水市",
            "cityId": 131100,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "呼和浩特市",
            "cityId": 150100,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "呼伦贝尔市",
            "cityId": 150700,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "葫芦岛市",
            "cityId": 211400,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "哈尔滨市",
            "cityId": 230100,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "鹤岗市",
            "cityId": 230400,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "黑河市",
            "cityId": 231100,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "淮安市",
            "cityId": 320800,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "杭州市",
            "cityId": 330100,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "湖州市",
            "cityId": 330500,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "合肥市",
            "cityId": 340100,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "淮南市",
            "cityId": 340400,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "淮北市",
            "cityId": 340600,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "黄山市",
            "cityId": 341000,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "菏泽市",
            "cityId": 371700,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "鹤壁市",
            "cityId": 410600,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "黄石市",
            "cityId": 420200,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "黄冈市",
            "cityId": 421100,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "衡阳市",
            "cityId": 430400,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "怀化市",
            "cityId": 431200,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "惠州市",
            "cityId": 441300,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "河源市",
            "cityId": 441600,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "贺州市",
            "cityId": 451100,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "河池市",
            "cityId": 451200,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "海口市",
            "cityId": 460100,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "红河州",
            "cityId": 532500,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "汉中市",
            "cityId": 610700,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "海东地区",
            "cityId": 632100,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "海北州",
            "cityId": 632200,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "黄南州",
            "cityId": 632300,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "海南州",
            "cityId": 632500,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "海西州",
            "cityId": 632800,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "哈密地区",
            "cityId": 652200,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "和田地区",
            "cityId": 653200,
            "citypy": "H",
            "type": 2
        },
        {
            "city": "晋城市",
            "cityId": 140500,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "晋中市",
            "cityId": 140700,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "锦州市",
            "cityId": 210700,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "吉林市",
            "cityId": 220200,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "鸡西市",
            "cityId": 230300,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "佳木斯市",
            "cityId": 230800,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "嘉兴市",
            "cityId": 330400,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "金华市",
            "cityId": 330700,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "景德镇市",
            "cityId": 360200,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "九江市",
            "cityId": 360400,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "吉安市",
            "cityId": 360800,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "济南市",
            "cityId": 370100,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "济宁市",
            "cityId": 370800,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "焦作市",
            "cityId": 410800,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "济源市",
            "cityId": 419001,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "荆门市",
            "cityId": 420800,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "荆州市",
            "cityId": 421000,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "江门市",
            "cityId": 440700,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "揭阳市",
            "cityId": 445200,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "嘉峪关市",
            "cityId": 620200,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "金昌市",
            "cityId": 620300,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "酒泉市",
            "cityId": 620900,
            "citypy": "J",
            "type": 2
        },
        {
            "city": "开封市",
            "cityId": 410200,
            "citypy": "K",
            "type": 2
        },
        {
            "city": "昆明市",
            "cityId": 530100,
            "citypy": "K",
            "type": 2
        },
        {
            "city": "克拉玛依市",
            "cityId": 650200,
            "citypy": "K",
            "type": 2
        },
        {
            "city": "克孜勒苏州",
            "cityId": 653000,
            "citypy": "K",
            "type": 2
        },
        {
            "city": "喀什地区",
            "cityId": 653100,
            "citypy": "K",
            "type": 2
        },
        {
            "city": "廊坊市",
            "cityId": 131000,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "临汾市",
            "cityId": 141000,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "吕梁市",
            "cityId": 141100,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "辽阳市",
            "cityId": 211000,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "辽源市",
            "cityId": 220400,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "连云港市",
            "cityId": 320700,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "丽水市",
            "cityId": 331100,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "六安市",
            "cityId": 341500,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "龙岩市",
            "cityId": 350800,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "莱芜市",
            "cityId": 371200,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "临沂市",
            "cityId": 371300,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "聊城市",
            "cityId": 371500,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "洛阳市",
            "cityId": 410300,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "漯河市",
            "cityId": 411100,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "娄底市",
            "cityId": 431300,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "柳州市",
            "cityId": 450200,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "来宾市",
            "cityId": 451300,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "临高县",
            "cityId": 469024,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "乐东县",
            "cityId": 469027,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "陵水县",
            "cityId": 469028,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "泸州市",
            "cityId": 510500,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "乐山市",
            "cityId": 511100,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "凉山州",
            "cityId": 513400,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "六盘水市",
            "cityId": 520200,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "丽江市",
            "cityId": 530700,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "临沧市",
            "cityId": 530900,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "拉萨市",
            "cityId": 540100,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "林芝地区",
            "cityId": 542600,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "兰州市",
            "cityId": 620100,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "陇南市",
            "cityId": 621200,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "临夏州",
            "cityId": 622900,
            "citypy": "L",
            "type": 2
        },
        {
            "city": "牡丹江市",
            "cityId": 231000,
            "citypy": "M",
            "type": 2
        },
        {
            "city": "马鞍山市",
            "cityId": 340500,
            "citypy": "M",
            "type": 2
        },
        {
            "city": "茂名市",
            "cityId": 440900,
            "citypy": "M",
            "type": 2
        },
        {
            "city": "梅州市",
            "cityId": 441400,
            "citypy": "M",
            "type": 2
        },
        {
            "city": "绵阳市",
            "cityId": 510700,
            "citypy": "M",
            "type": 2
        },
        {
            "city": "眉山市",
            "cityId": 511400,
            "citypy": "M",
            "type": 2
        },
        {
            "city": "南京市",
            "cityId": 320100,
            "citypy": "N",
            "type": 2
        },
        {
            "city": "南通市",
            "cityId": 320600,
            "citypy": "N",
            "type": 2
        },
        {
            "city": "宁波市",
            "cityId": 330200,
            "citypy": "N",
            "type": 2
        },
        {
            "city": "南平市",
            "cityId": 350700,
            "citypy": "N",
            "type": 2
        },
        {
            "city": "宁德市",
            "cityId": 350900,
            "citypy": "N",
            "type": 2
        },
        {
            "city": "南昌市",
            "cityId": 360100,
            "citypy": "N",
            "type": 2
        },
        {
            "city": "南阳市",
            "cityId": 411300,
            "citypy": "N",
            "type": 2
        },
        {
            "city": "南宁市",
            "cityId": 450100,
            "citypy": "N",
            "type": 2
        },
        {
            "city": "南沙群岛",
            "cityId": 469032,
            "citypy": "N",
            "type": 2
        },
        {
            "city": "内江市",
            "cityId": 511000,
            "citypy": "N",
            "type": 2
        },
        {
            "city": "南充市",
            "cityId": 511300,
            "citypy": "N",
            "type": 2
        },
        {
            "city": "怒江州",
            "cityId": 533300,
            "citypy": "N",
            "type": 2
        },
        {
            "city": "那曲地区",
            "cityId": 542400,
            "citypy": "N",
            "type": 2
        },
        {
            "city": "盘锦市",
            "cityId": 211100,
            "citypy": "P",
            "type": 2
        },
        {
            "city": "莆田市",
            "cityId": 350300,
            "citypy": "P",
            "type": 2
        },
        {
            "city": "萍乡市",
            "cityId": 360300,
            "citypy": "P",
            "type": 2
        },
        {
            "city": "平顶山市",
            "cityId": 410400,
            "citypy": "P",
            "type": 2
        },
        {
            "city": "濮阳市",
            "cityId": 410900,
            "citypy": "P",
            "type": 2
        },
        {
            "city": "攀枝花市",
            "cityId": 510400,
            "citypy": "P",
            "type": 2
        },
        {
            "city": "普洱市",
            "cityId": 530800,
            "citypy": "P",
            "type": 2
        },
        {
            "city": "平凉市",
            "cityId": 620800,
            "citypy": "P",
            "type": 2
        },
        {
            "city": "秦皇岛市",
            "cityId": 130300,
            "citypy": "Q",
            "type": 2
        },
        {
            "city": "齐齐哈尔市",
            "cityId": 230200,
            "citypy": "Q",
            "type": 2
        },
        {
            "city": "七台河市",
            "cityId": 230900,
            "citypy": "Q",
            "type": 2
        },
        {
            "city": "衢州市",
            "cityId": 330800,
            "citypy": "Q",
            "type": 2
        },
        {
            "city": "泉州市",
            "cityId": 350500,
            "citypy": "Q",
            "type": 2
        },
        {
            "city": "青岛市",
            "cityId": 370200,
            "citypy": "Q",
            "type": 2
        },
        {
            "city": "潜江市",
            "cityId": 429005,
            "citypy": "Q",
            "type": 2
        },
        {
            "city": "清远市",
            "cityId": 441800,
            "citypy": "Q",
            "type": 2
        },
        {
            "city": "钦州市",
            "cityId": 450700,
            "citypy": "Q",
            "type": 2
        },
        {
            "city": "琼海市",
            "cityId": 469002,
            "citypy": "Q",
            "type": 2
        },
        {
            "city": "琼中县",
            "cityId": 469030,
            "citypy": "Q",
            "type": 2
        },
        {
            "city": "黔西南州",
            "cityId": 522300,
            "citypy": "Q",
            "type": 2
        },
        {
            "city": "黔东南州",
            "cityId": 522600,
            "citypy": "Q",
            "type": 2
        },
        {
            "city": "黔南州",
            "cityId": 522700,
            "citypy": "Q",
            "type": 2
        },
        {
            "city": "曲靖市",
            "cityId": 530300,
            "citypy": "Q",
            "type": 2
        },
        {
            "city": "庆阳市",
            "cityId": 621000,
            "citypy": "Q",
            "type": 2
        },
        {
            "city": "日照市",
            "cityId": 371100,
            "citypy": "R",
            "type": 2
        },
        {
            "city": "日喀则地区",
            "cityId": 542300,
            "citypy": "R",
            "type": 2
        },
        {
            "city": "石家庄市",
            "cityId": 130100,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "朔州市",
            "cityId": 140600,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "沈阳市",
            "cityId": 210100,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "四平市",
            "cityId": 220300,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "松原市",
            "cityId": 220700,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "双鸭山市",
            "cityId": 230500,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "绥化市",
            "cityId": 231200,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "上海市",
            "cityId": 310000,
            "citypy": "S",
            "type": 1
        },
        {
            "city": "苏州市",
            "cityId": 320500,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "宿迁市",
            "cityId": 321300,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "绍兴市",
            "cityId": 330600,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "宿州市",
            "cityId": 341300,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "三明市",
            "cityId": 350400,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "上饶市",
            "cityId": 361100,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "三门峡市",
            "cityId": 411200,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "商丘市",
            "cityId": 411400,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "十堰市",
            "cityId": 420300,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "随州市",
            "cityId": 421300,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "神农架林区",
            "cityId": 429021,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "邵阳市",
            "cityId": 430500,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "韶关市",
            "cityId": 440200,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "深圳市",
            "cityId": 440300,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "汕头市",
            "cityId": 440500,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "汕尾市",
            "cityId": 441500,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "三亚市",
            "cityId": 460200,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "遂宁市",
            "cityId": 510900,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "山南地区",
            "cityId": 542200,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "商洛市",
            "cityId": 611000,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "石嘴山市",
            "cityId": 640200,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "石河子市",
            "cityId": 659001,
            "citypy": "S",
            "type": 2
        },
        {
            "city": "天津市",
            "cityId": 120000,
            "citypy": "T",
            "type": 1
        },
        {
            "city": "唐山市",
            "cityId": 130200,
            "citypy": "T",
            "type": 2
        },
        {
            "city": "太原市",
            "cityId": 140100,
            "citypy": "T",
            "type": 2
        },
        {
            "city": "通辽市",
            "cityId": 150500,
            "citypy": "T",
            "type": 2
        },
        {
            "city": "铁岭市",
            "cityId": 211200,
            "citypy": "T",
            "type": 2
        },
        {
            "city": "通化市",
            "cityId": 220500,
            "citypy": "T",
            "type": 2
        },
        {
            "city": "泰州市",
            "cityId": 321200,
            "citypy": "T",
            "type": 2
        },
        {
            "city": "台州市",
            "cityId": 331000,
            "citypy": "T",
            "type": 2
        },
        {
            "city": "铜陵市",
            "cityId": 340700,
            "citypy": "T",
            "type": 2
        },
        {
            "city": "泰安市",
            "cityId": 370900,
            "citypy": "T",
            "type": 2
        },
        {
            "city": "天门市",
            "cityId": 429006,
            "citypy": "T",
            "type": 2
        },
        {
            "city": "屯昌县",
            "cityId": 469022,
            "citypy": "T",
            "type": 2
        },
        {
            "city": "铜仁地区",
            "cityId": 522200,
            "citypy": "T",
            "type": 2
        },
        {
            "city": "铜川市",
            "cityId": 610200,
            "citypy": "T",
            "type": 2
        },
        {
            "city": "天水市",
            "cityId": 620500,
            "citypy": "T",
            "type": 2
        },
        {
            "city": "吐鲁番地区",
            "cityId": 652100,
            "citypy": "T",
            "type": 2
        },
        {
            "city": "塔城地区",
            "cityId": 654200,
            "citypy": "T",
            "type": 2
        },
        {
            "city": "图木舒克市",
            "cityId": 659003,
            "citypy": "T",
            "type": 2
        },
        {
            "city": "乌海市",
            "cityId": 150300,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "乌兰察布市",
            "cityId": 150900,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "无锡市",
            "cityId": 320200,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "温州市",
            "cityId": 330300,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "芜湖市",
            "cityId": 340200,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "潍坊市",
            "cityId": 370700,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "威海市",
            "cityId": 371000,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "武汉市",
            "cityId": 420100,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "梧州市",
            "cityId": 450400,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "五指山市",
            "cityId": 469001,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "文昌市",
            "cityId": 469005,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "万宁市",
            "cityId": 469006,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "文山州",
            "cityId": 532600,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "渭南市",
            "cityId": 610500,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "武威市",
            "cityId": 620600,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "吴忠市",
            "cityId": 640300,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "乌鲁木齐市",
            "cityId": 650100,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "五家渠市",
            "cityId": 659004,
            "citypy": "W",
            "type": 2
        },
        {
            "city": "邢台市",
            "cityId": 130500,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "忻州市",
            "cityId": 140900,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "兴安盟",
            "cityId": 152200,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "锡林郭勒盟",
            "cityId": 152500,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "徐州市",
            "cityId": 320300,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "宣城市",
            "cityId": 341800,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "厦门市",
            "cityId": 350200,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "新余市",
            "cityId": 360500,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "新乡市",
            "cityId": 410700,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "许昌市",
            "cityId": 411000,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "信阳市",
            "cityId": 411500,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "襄阳市",
            "cityId": 420600,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "孝感市",
            "cityId": 420900,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "咸宁市",
            "cityId": 421200,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "仙桃市",
            "cityId": 429004,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "湘潭市",
            "cityId": 430300,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "湘西州",
            "cityId": 433100,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "西沙群岛",
            "cityId": 469031,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "西双版纳州",
            "cityId": 532800,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "西安市",
            "cityId": 610100,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "咸阳市",
            "cityId": 610400,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "西宁市",
            "cityId": 630100,
            "citypy": "X",
            "type": 2
        },
        {
            "city": "阳泉市",
            "cityId": 140300,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "运城市",
            "cityId": 140800,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "营口市",
            "cityId": 210800,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "延边州",
            "cityId": 222400,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "伊春市",
            "cityId": 230700,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "盐城市",
            "cityId": 320900,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "扬州市",
            "cityId": 321000,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "鹰潭市",
            "cityId": 360600,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "宜春市",
            "cityId": 360900,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "烟台市",
            "cityId": 370600,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "宜昌市",
            "cityId": 420500,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "岳阳市",
            "cityId": 430600,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "益阳市",
            "cityId": 430900,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "永州市",
            "cityId": 431100,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "阳江市",
            "cityId": 441700,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "云浮市",
            "cityId": 445300,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "玉林市",
            "cityId": 450900,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "宜宾市",
            "cityId": 511500,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "雅安市",
            "cityId": 511800,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "玉溪市",
            "cityId": 530400,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "延安市",
            "cityId": 610600,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "榆林市",
            "cityId": 610800,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "玉树州",
            "cityId": 632700,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "银川市",
            "cityId": 640100,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "伊犁州",
            "cityId": 654000,
            "citypy": "Y",
            "type": 2
        },
        {
            "city": "张家口市",
            "cityId": 130700,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "镇江市",
            "cityId": 321100,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "舟山市",
            "cityId": 330900,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "漳州市",
            "cityId": 350600,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "淄博市",
            "cityId": 370300,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "枣庄市",
            "cityId": 370400,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "郑州市",
            "cityId": 410100,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "周口市",
            "cityId": 411600,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "驻马店市",
            "cityId": 411700,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "株洲市",
            "cityId": 430200,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "张家界市",
            "cityId": 430800,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "珠海市",
            "cityId": 440400,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "湛江市",
            "cityId": 440800,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "肇庆市",
            "cityId": 441200,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "中山市",
            "cityId": 442000,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "中沙群岛的岛礁及其海域",
            "cityId": 469033,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "自贡市",
            "cityId": 510300,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "资阳市",
            "cityId": 512000,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "遵义市",
            "cityId": 520300,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "昭通市",
            "cityId": 530600,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "张掖市",
            "cityId": 620700,
            "citypy": "Z",
            "type": 2
        },
        {
            "city": "中卫市",
            "cityId": 640500,
            "citypy": "Z",
            "type": 2
        }
    ],
    "code": "0",
    "message": "成功"
}