<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hua.dev">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 适配Android7.0摄像机拍照问题 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hua.dev.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".AddressPickActivity" />
        <activity android:name=".ApplicationCacheActivity" />
        <activity android:name=".AboutTimeActivity" />
        <activity android:name=".ActivityInsideChoiceActivity" />
        <activity android:name=".SingleChoiceActivity" />
        <activity android:name=".CityLocationActivity" />
        <activity android:name=".PullToRefreshListActivity" />
        <activity android:name=".BombBoxActivity" />
        <activity android:name=".SelectorPhotoActivity" />
        <activity android:name=".JniActivity" />
        <activity android:name=".ImageAllActivity" />
        <activity
            android:name="com.hua.librarytools.imageselector.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.hua.librarytools.imageselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.hua.librarytools.imageselector.ClipImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".CustomControlActivity"></activity>
    </application>

</manifest>